/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background: rgb(1, 19, 43);
  color: #fff;
}

header,
button,
input,
textarea,
div {
  border-radius: 6px;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  font-size: 1.15rem;
}
